<div class="bg-primary text-primary-foreground text-red-500 text-8xl">Hello</div>
<h1 class="text-blue-800 text-xl4">wow</h1>


<h1 class="text-9xl bg-purple-500 text-white">waduh</h1>

<a href="/logout">logout</a>