<div class="absolute right-0 hidden w-56 h-full pt-5 pb-10 overflow-scroll lg:block scrollbar-hide">
  <div class="fixed w-56 h-full pb-32 overflow-scroll scrollbar-hide">
      <h4 class="relative py-1 mb-5 text-sm font-medium text-gray-600 rounded-md">Sponsors</h4>
      <div class="flex flex-col w-full mx-auto divide-y divide-gray-200/60 not-prose">
<a href="https://m.do.co/c/dc19b9819d06" target="_blank" class="relative opacity-80 hover:opacity-100 pb-8 flex flex-col items-start justify-between overflow-hidden bg-white group">

<span class="flex items-center justify-between w-full mb-4 ">
  <img src="https://cdn.devdojo.com/sponsors/digital-ocean.svg" alt="DigitalOcean" class="relative h-5 md:h-6">
</span>
<span class="relative text-xs text-gray-400 group-hover:text-gray-500 md:text-sm dark:text-neutral-400">The best reliable cloud hosting solution.</span>
<span class="flex justify-start w-full">
  <span class="relative inline-block mt-2 overflow-hidden text-xs font-medium text-gray-500 group-hover:text-gray-800">
      <span class="absolute bottom-0 block w-full transition duration-150 ease-out transform -translate-x-full border-b border-gray-800 opacity-0 group-hover:translate-x-0 group-hover:opacity-100"></span>
      <span class="">View DigitalOcean Website</span>
  </span>
</span>
</a>
<a href="https://laravel-news.com/?utm_source=devdojo.com" target="_blank" class="relative opacity-80 hover:opacity-100 py-8 flex flex-col items-start justify-between overflow-hidden bg-white group">

<span class="flex items-center justify-between w-full mb-4 ">
  <img src="https://cdn.devdojo.com/sponsors/laravel-news.svg?image=laravel-news" alt="Laravel News" class="relative h-5 md:h-6">
</span>
<span class="relative text-xs text-gray-400 group-hover:text-gray-500 md:text-sm dark:text-neutral-400">Keep up to date with everything Laravel</span>
<span class="flex justify-start w-full">
  <span class="relative inline-block mt-2 overflow-hidden text-xs font-medium text-gray-500 group-hover:text-gray-800">
      <span class="absolute bottom-0 block w-full transition duration-150 ease-out transform -translate-x-full border-b border-gray-800 opacity-0 group-hover:translate-x-0 group-hover:opacity-100"></span>
      <span class="">View Laravel News Website</span>
  </span>
</span>
</a>
<a href="https://github.com/thedevdojo/genesis" target="_blank" class="relative opacity-80 hover:opacity-100 py-8 flex flex-col items-start justify-between overflow-hidden bg-white group">

<span class="flex items-center justify-between w-full mb-4 ">
  <img src="https://cdn.devdojo.com/sponsors/genesis.svg" alt="Genesis" class="relative h-5 md:h-6">
</span>
<span class="relative text-xs text-gray-400 group-hover:text-gray-500 md:text-sm dark:text-neutral-400">The ultimate Laravel Starter Kit</span>
<span class="flex justify-start w-full">
  <span class="relative inline-block mt-2 overflow-hidden text-xs font-medium text-gray-500 group-hover:text-gray-800">
      <span class="absolute bottom-0 block w-full transition duration-150 ease-out transform -translate-x-full border-b border-gray-800 opacity-0 group-hover:translate-x-0 group-hover:opacity-100"></span>
      <span class="">View Genesis Website</span>
  </span>
</span>
</a>
<a href="/sponsorship" target="_blank" class="relative flex-col items-start justify-between pt-10 bg-white opacity-70 hover:opacity-100 sm:flex group">
<svg class="relative h-4 mb-4 fill-current opacity-80 md:h-5 text-neutral-900 dark:text-neutral-100" viewBox="0 0 57 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m.06.48 2.952 5.268V9h2.4V5.748L8.364.48H5.796L4.26 3.66 2.712.48H.06ZM7.65 5.784c0 1.98 1.571 3.396 3.48 3.396 1.991 0 3.527-1.44 3.527-3.42 0-1.992-1.56-3.396-3.48-3.396-1.992 0-3.528 1.44-3.528 3.42Zm3.503-1.392c.78 0 1.224.672 1.224 1.38 0 .72-.468 1.38-1.224 1.38S9.93 6.48 9.93 5.772c0-.72.48-1.38 1.224-1.38ZM15.552 2.544V6.06c0 1.896 1.188 3.12 3.048 3.12 1.908 0 3.12-1.284 3.12-3.12V2.544h-2.244v3.564c0 .54-.216 1.044-.828 1.044s-.852-.492-.852-1.044V2.544h-2.244ZM22.794 2.544V9h2.244V6.036c0-.876.42-1.308 1.248-1.308.204 0 .384.024.552.084l.216-2.244a1.333 1.333 0 0 0-.552-.108c-.756 0-1.284.456-1.56 1.128l-.072-1.044h-2.076ZM27.894 9h5.628V6.888h-3.228V.48h-2.4V9ZM34.18 5.784c0 1.98 1.572 3.396 3.48 3.396 1.992 0 3.528-1.44 3.528-3.42 0-1.992-1.56-3.396-3.48-3.396-1.992 0-3.528 1.44-3.528 3.42Zm3.504-1.392c.78 0 1.224.672 1.224 1.38 0 .72-.468 1.38-1.224 1.38s-1.224-.672-1.224-1.38c0-.72.48-1.38 1.224-1.38ZM41.962 5.532c0 1.584 1.164 3.168 2.832 3.168.72 0 1.332-.276 1.764-.864v.492c0 .744-.42 1.308-1.188 1.308-.36 0-.72-.144-.936-.444l-2.208.42c.492 1.26 1.872 1.812 3.144 1.812 2.064 0 3.432-1.344 3.432-3.36v-5.52h-2.076l-.048.708c-.456-.612-1.044-.888-1.8-.888-1.716 0-2.916 1.548-2.916 3.168Zm3.432-1.26c.696 0 1.176.588 1.176 1.26 0 .684-.48 1.26-1.176 1.26-.684 0-1.152-.612-1.152-1.26 0-.66.468-1.26 1.152-1.26ZM49.696 5.784c0 1.98 1.572 3.396 3.48 3.396 1.992 0 3.528-1.44 3.528-3.42 0-1.992-1.56-3.396-3.48-3.396-1.992 0-3.528 1.44-3.528 3.42ZM53.2 4.392c.78 0 1.224.672 1.224 1.38 0 .72-.468 1.38-1.224 1.38s-1.224-.672-1.224-1.38c0-.72.48-1.38 1.224-1.38Z"></path></svg>
<span class="relative text-xs text-gray-400 group-hover:text-gray-500 md:text-sm dark:text-neutral-400">Learn more about sponsorship and see your logo here in front of thousands of developers.</span>
<span class="flex justify-start w-full">
  <span class="relative inline-block mt-2 overflow-hidden text-xs font-medium text-gray-500 group-hover:text-gray-800">
      <span class="absolute bottom-0 block w-full transition duration-150 ease-out transform -translate-x-full border-b border-gray-800 opacity-0 group-hover:translate-x-0 group-hover:opacity-100"></span>
      <span class="">Learn More</span>
  </span>
</span>
</a>
</div>

  </div>
</div>