  <!-- body -->
  <div id="content" class="relative flex-shrink-0 w-full h-auto py-5 pr-0 lg:pl-64 lg:pr-24 ">


    <div class="w-full h-auto ">
                                    <div class="relative flex flex-col max-w-full pt-0 prose prose-md">
                <div class="not-prose">
<h2 class="pt-0 mb-2 text-3xl font-bold tracking-tight select-none not-prose custom-font">Introduction</h2>
</div>
<p class="text-gray-500">The team over here at <a href="https://devdojo.com" class="relative text-indigo-600 group"><span>DevDojo</span><span class="absolute bottom-0 left-0 w-0 h-px duration-300 ease-out bg-indigo-500 group-hover:w-full"></span></a> are huge fans of Alpine and Tailwind 🤩 We love it so much that we are fine-tuning and open-sourcing our library of UI elements that we've been crafting over the years.</p>

<hr>

<h3>Why Tailwind and Alpine?</h3>
<p class="text-gray-500">When used together, Alpine and Tailwind complement each other and allow developers to build re-usable and functional UI elements with minimal effort. By using <strong>Alpine directives</strong> for functionality and <strong>Tailwind utility classes</strong> for design, we can create beautiful and functional interfaces represented by using <strong>only HTML</strong>.</p>

<h3>An Example</h3>

<p class="text-gray-500">Here is an example of a simple dropdown with minimal code 👇</p>


</div>
</div>

<div class="relative bottom-0 flex items-center justify-between block w-full h-12 pt-4 pb-7">
                            <a href="/pines" @click="" @mouseenter="" class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors border rounded-md focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-200 focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-white border-neutral-200 hover:bg-gray-100 hover:text-neutral-700">
            <svg class="pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg>
            <span class="pointer-events-none">Home</span>
        </a>
                                                <a href="/pines/docs/how-to-use" @click="activeMenuItem = 'how-to-use'; loadPage($event)" @mouseenter="fetchPage($event)" class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors border rounded-md focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-200 focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-white border-neutral-200 hover:bg-gray-100 hover:text-neutral-700">
            <span class="pointer-events-none">How To Use</span>
            <svg class="pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </a>
                    </div>

</div>