<aside
  :class="{ '-translate-x-full -ml-20' : !largeScreen &amp;&amp; !sidebarOpen, 'z-50 top-0 left-0 pl-4 ease-out duration-300' : !largeScreen, 'z-20 top-[55px]' : largeScreen }"
  class="fixed block w-56 h-screen max-h-screen pt-20 pb-5 pr-5 overflow-scroll bg-white lg:pt-8 lg:pb-16 z-20 top-[55px]">

  <div class="absolute inset-0 flex items-center justify-end w-full h-full">
    <div class="fixed top-[10px] w-px h-full bg-neutral-200"></div>
  </div>

  <h4 class="relative px-2 py-1 mb-2 text-sm font-semibold rounded-md">Getting Started</h4>

  <div class="relative grid grid-flow-row text-sm mb-3 auto-rows-max">
    <a href="/pines/docs/introduction" @click="activeMenuItem = 'introduction'; loadPage($event)"
      @mouseenter="fetchPage($event)"
      :class="{ 'bg-gray-100 border-gray-200/60' : activeMenuItem == 'introduction', 'hover:underline border-transparent' : activeMenuItem != 'introduction' }"
      class="group flex w-full items-center rounded-md border px-2 py-1.5 bg-gray-100 border-gray-200/60">
      Introduction
    </a>
    <a href="/pines/docs/wow" @click="activeMenuItem = 'wow'; loadPage($event)"
      @mouseenter="fetchPage($event)"
      :class="{ 'bg-gray-100 border-gray-200/60' : activeMenuItem == 'wow', 'hover:underline border-transparent' : activeMenuItem != 'wow' }"
      class="group flex w-full items-center rounded-md border px-2 py-1.5 bg-gray-100 border-gray-200/60">
      wow
    </a>
  </div>

  <div class="relative py-2">
    <div class="absolute inset-0 flex items-center"><span class="w-full border-t"></span></div>
  </div>

  <nav class="relative space-y-1">
    <a href="/users"
      class="group flex items-center px-2 py-2 text-sm font-medium text-gray-900 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round"
        class="w-5 h-5 mr-3 text-gray-400 group-hover:text-gray-500">
        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4"></circle>
      </svg>
      Users
    </a>
    <a href="/roles"
      class="group flex items-center px-2 py-2 text-sm font-medium text-gray-900 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round"
        class="w-5 h-5 mr-3 text-gray-400 group-hover:text-gray-500">
        <circle cx="12" cy="12" r="10"></circle>
        <circle cx="12" cy="12" r="4"></circle>
        <line x1="4.93" x2="9.17" y1="4.93" y2="9.17"></line>
        <line x1="14.83" x2="19.07" y1="14.83" y2="19.07"></line>
        <line x1="14.83" x2="19.07" y1="9.17" y2="4.93"></line>
        <line x1="14.83" x2="18.36" y1="9.17" y2="5.64"></line>
        <line x1="4.93" x2="9.17" y1="19.07" y2="14.83"></line>
      </svg>
      Roles
    </a>
    <a href="/logout"
      class="group flex items-center px-2 py-2 text-sm font-medium text-red-600 rounded-md hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-red-500">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round"
        class="w-5 h-5 mr-3 text-red-400 group-hover:text-red-500">
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
        <polyline points="16 17 21 12 16 7"></polyline>
        <line x1="21" x2="9" y1="12" y2="12"></line>
      </svg>
      Log out
    </a>
  </nav>

</aside>